*,
*::after,
*::before {
    box-sizing: border-box;
}

.nav-button {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #232222;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu__list {
    display: flex;
}

.header__logo {
    margin-left: 16px;
}

.header__phone {
    margin-right: 43px;
    margin-top: 9px;
}
.phone{
  height: 30px;
}

.menu__item+.menu__item {
    padding-left: 30px;
}

.header__menu {
    margin-top: 16px;
}

.menu__link {
    color: #001E64;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.menu__link:hover {
    border-bottom: 1px solid #001E64;
}

.header__content {
    background-image: url(../images/background-img.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin-top: -88px;
    min-height: calc(100vh - 63px);
}

.header__title {
    font-family: 'Roboto Slab', serif;
    font-size: 72px;
    line-height: 95px;
    color: #001E64;
    max-width: 589px;
    padding-top: 220px;
    padding-left: 112px;
    margin-bottom: 50px;
}

.header-slider {
    padding-top: 55px;
    padding-left: 112px;
    padding-bottom: 135px;
    max-width: 522px;
}

.header-slider__text {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.header-slider__text+.header-slider__text {
    margin-top: 25px;
}

.slick-prev,
.slick-next {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 40px;
    cursor: pointer;
}

.slick-prev {
    top: 0;
}

.slick-next {
    bottom: 0;
}

.slick-dots {
    list-style: none;
    position: absolute;
    left: 40px;
    top: 54px;
    bottom: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    opacity: 0.5;
    cursor: pointer;
}

.slick-dots button::before {
    content: '0';
}

.slick-active button {
    opacity: 1.0;
}

.header__button {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    padding: 14px 88px;
    background-color: rgba(255, 255, 255, .5);
    max-width: 300px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 112px;
    transform: translateY(-100px);
    position: absolute;
    transition: 1s all;
}

.header__button:hover {
    color: #001E64;
    background-color: rgba(255, 255, 255, 1);
}

.header__lenguage {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding-top: 50px;
}

.header__link--active {
    font-weight: 700;
}

.product {
    padding-top: 100px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__name {
  max-width: 250px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin: 0 auto;
}

.product__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}

.product__title+.product__title {
  margin-top: 30px;
}

.product-prev,
.product-next {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.product-prev {
    margin-bottom: 40px;
}

.product-next {
    margin-top: 10px;
}

.product__title.slick-current {
    color: #001E64;
    font-size: 36px;
    font-weight: 700;
}

.product__content {
  max-width: 600px;
}

.product__content-box {
    display: flex;
    justify-content: space-between;
}

.product__img {
    object-fit: cover;
    margin-right: 10px;
}

.product__content-item {
    list-style-type: none;
    font-size: 16px;
    line-height: 19px;
}

.product__content-item+.product__content-item {
    padding-top: 30px;
}

.product__content-item span {
    display: block;
    color: #001E64;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
}

.product__description-title {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 32px;
    color: #001E64;
    font-weight: 400;
    padding: 20px 0;
}

.product__btn {
    color: #001E64;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    border: 1px solid #001E64;
    border-radius: 20px;
    padding: 12px 85px;
    margin-top: 27px;
    background-color: transparent;
    cursor: pointer;
    transition: 1s all;
}

.product__btn:hover {
    color: #fff;
    background-color: #001E64;
}

.seafood-benefits {
    background-image: url(../images/seafood-bg.png);
    padding: 290px 0 98px;
    background-size: cover;
    background-repeat: no-repeat;
}

.seafood-advantage__item {
    width: 180px;
    min-height: 165px;
    background-image: url(../images/seafood-decor.svg);
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around
}

.seafood-benefits__inner {
  display: flex;
  justify-content: space-around;
}

.seafood{
  padding: 100px 0;
}
.seafood__inner{
  display: flex;
  justify-content: space-between;
}
.seafood__title{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #001E64;
  margin-bottom: 30px;
  max-width: 491px;
}
.seafood__text{
  max-width: 420px;
  font-size: 16px;
}
.seafood__text + .seafood__text{
  margin-top: 30px;
}
.seafood__inner + .seafood__inner{
  margin-top: 50px;
}
.seafood__text--margin-bottom{
  margin-bottom: 50px;
}
.seafood__content--margin-right{
  margin-right: 180px;
}
.seafood__img{
  background-repeat: no-repeat;
  background-size: cover;
}
.seafood__img--margin-left{
  margin-left: 20px;
}
.seafood__img--margin-right{
  margin-right: 20px;
}

.seafood__blockquote {
    text-align: center;
    padding-bottom: 100px;
}

.seafood__blockquote-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.seafood__blockquote-text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    max-width: 696px;
    display: flex;
    margin: 0 auto;
}

.contacts {
    background-image: url(../images/contacts-bg.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.contacts__box {
    margin-left: auto;
    max-width: 341px;
    padding: 32px 0 32px 18px;
    background-color: #fff;
}

.contacts__box-text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #001E64;
    width: 195px;
}

.contacts__box-list {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.contacts__box-item {
    margin-top: 30px;
    list-style: none;
}

.footer {
  padding: 100px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__inner-list {
  list-style: none;
  display: flex;
  align-items: center;
  height: 41px;
  margin: 0 0 18px 23px;
}

.footer__inner-item+.footer__inner-item {
    margin-left: 10px;
}

.footer__inner-item path {
   transition: 1s all;
}

.footer__inner-item:hover path {
    fill: #001E64;
}

.footer__logo {
    margin-right: 45px;
}

.footer__menu {
    padding-bottom: 32px;
}

.product__name .slick-dots button{
  width: 9px;
  height: 9px;
  background: #001E64;
  font-size: 0px;
  border-radius: 100px;
}
.product__name ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 24%;
  padding-top: 30px;
} 
/* ____________________________________________________________________________________ */
@media (max-width: 1151px){
  .menu.footer__menu{
    display: none;
  }
}

@media (max-width: 1001px) {
  .header__top{
    position: relative;
 }
 .menu__list{
   display: block;
   position: absolute;
   left: 20%;
   right: 20%;
   background-color: #fff;
   text-align: center;
   padding-bottom: 10px;
   top: -350px;
   transition: all .5s;
   z-index: 5;
 }
 .menu__list--active{
   top: 50px;
 }
 .menu__item{
   padding-top: 30px;
 }
 .menu__item + .menu__item{
   padding-left: 0px;
 }
 .nav-button {
   display: block;
   height: 45px;
   margin: 0 30px 0 auto;
   cursor: pointer;
    z-index: 10;
 }
}

@media (max-width: 986px){
  .seafood{
  padding: 100px 0;
  }
  .seafood__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .seafood__inner--wrap-reverse{
    flex-wrap: wrap-reverse;
  }
  .seafood__text , .seafood__title , .seafood__img{
    max-width: 100%;
  }
  .seafood__inner{
    margin: 0 10% 0 10%;
  }
  .seafood__img{
    margin-top: 50px;
  }
  .seafood__text + .seafood__text{
    margin-top: 30px;
  }
  .seafood__inner + .seafood__inner{
    margin-top: 50px;
  }
  .seafood__text--margin-bottom{
    margin-bottom: 50px;
  }

  .seafood__content--margin-right{
    margin-right: 0px;
  }
  .seafood__img--margin-left{
    margin-left: 0px;
  }
  .seafood__img--margin-right{
    margin-right: 0px;
  }
}

@media (max-width: 898px){
  .product__inner{
    display: block;
  }
  .product__name {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 100px;
  }
  .product__title{
    line-height: 40px;
  }
  .product__content{
    margin: 0 auto;
  }
  .product__title+.product__title {
    margin-top: 0px;
  }

  .seafood__blockquote-img{
    max-width: 100%;
  }
}
@media (max-width: 764px) {
  .header__title {
    margin: 0 auto 50px auto;
    padding-left: 0px;
  }
  
  .menu__list{
    left: 10%;
    right: 10%;
  }
  .header__title{
    font-size: 55px;
    line-height: 69px;
    text-align: center;
  }
  .product__content-box{
    display: block;
    margin-bottom: 50px;
  }
  .product__img{
    margin: 0 auto;
  }
  .product__content-list{
    text-align: center;
    margin-top: 50px;
  }

  .seafood-benefits__inner{
    display: block;
  }
  .seafood-advantage__item{
    margin:0 auto 20px auto;
  }
  .seafood{
    padding: 80px 0;
  }
}
@media (max-width: 530px){
  .header-slider{
    padding-left: 50px;
  }
  .header__button{
    margin-left: 50px;
  }
  .slick-dots , .slick-arrow{
    left: 10px;
  }
  .footer__logo{
    margin: 0 0 0 20px;
  }
  .footer__inner-list{
    max-width: 100%;
  }
  .footer__inner-item + .footer__inner-item{
    margin-left: 0;
  }
  .footer__inner{
    max-width: 100%;
  }
}
@media (max-width: 449px){
 .header__title{
  font-size: 39px;
  line-height: 55px;
  text-align: center;
  }

  .logo__img{
    max-width: 88px;
  }
  .footer__inner-list{
    margin: 0 0 10px 0;
  }
  .footer__inner-item + .footer__inner-item{
    margin-left: 10%;
  }
  .footer{
    padding: 50px 0;
  }

  .seafood__blockquote{
    padding-bottom: 50px;
  }

  .seafood{
    padding: 50px 0;
  }

  .seafood-benefits{
    padding: 200px 0 50px;
  }

  .product__description-title{
    padding-top: 0;
  }

  .product{
    padding-top: 50px;
  }
  
  .header__title{
    padding-top: 160px;
  }
  .header__top{
    line-height: 70px;
  }
  .menu__list{
    top: -610px;
  }

  .menu__list--active{
    top: 52px;
    line-height: 21px;
  }

  .product__content-item+.product__content-item{
    padding-top: 20px;
  }
  .product__content-box{
    margin-bottom: 30px;
  }

  .header__phone {
  margin-top: 0px;
  }

  .seafood{
  padding: 50px 0;
  }
  .seafood__inner{
    margin: 0;
  }
  .seafood__img{
    margin-top: 30px;
  }
  .seafood__text + .seafood__text{
    margin-top: 20px;
  }
  .seafood__inner + .seafood__inner{
    margin-top: 30px;
  }
  .seafood__text--margin-bottom{
    margin-bottom: 30px;
  }
}
@media (max-width: 361px) {
  .header-slider{
    padding-left: 0px;
  }
  .header__button{
   margin: 0 auto;
   }
   .header__title{
     margin-bottom: 0;
   }
   .product__btn{
     width: 100%;
   }
  }
